# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc

# Environment variables
.env
.env.prod
.env.1
.env.2

# OS files
.DS_Store

# build files
backend/app/static/

# Config data
config/
config-test/
radarr-config/
sonarr-config/
test-data/